:root {
  --font-share-tech-mono: "Share Tech Mono", monospace;
  --font-fredoka: "Fredoka", sans-serif;
  --font-righteous: "Righteous", sans-serif;
  --font-orbitron: "Orbitron", sans-serif;
  --font-vt323: "VT323", monospace;
}
